name: diffusion_policy
model:
  name: DiffusionPolicyModel
  state_dim: 8
  action_dim: 8
  obs_horizon: 8
  pred_horizon: 16
  action_horizon: 8
  image_backbone: resnet18
  image_emb_dim : 256
  state_emb_dim : 128
  past_action_emb_dim: 128
  crop_shape: [224, 224]
  crop_is_random: true
  use_group_norm: false
  spatial_softmax_num_keypoints: 32
  pretrained_backbone_weights: true
  down_dims: [256, 512, 512]
  kernel_size: 5
  n_groups: 8
  diffusion_step_embed_dim: 128
  use_film_scale_modulation: true
  diffusion_steps: 100
  num_inference_steps: 16
  beta_schedule: squaredcos_cap_v2
  beta_start: 0.0001
  beta_end: 0.02
  clip_sample: true
  clip_sample_range: 1.0
  model_path: null
  # Image encoder freezing controls
  image_freeze_backbone: true
  image_trainable_layers: ["layer4"]
  image_bn_eval: true
trainer:
  max_epochs: 100
  lr: 0.0001
  weight_decay: 1e-6
  ema: true
  ema_power: 0.75
  grad_clip: 1.0
  scheduler: cosine
  batch_size: 128
  log_every_n_steps: 50
  val_every_n_epochs: 10
  num_workers: 8
  prefetch_factor: 8
  max_steps : 100000
